.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 24px 0;
  background-color: rgba(11, 11, 11, 0.4);

  @include vp-767 {
    padding: 12px 0;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
  }
}
